body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fbfbfd;
  background-color: #fbfbfd00;
}
@keyframes anime2 {
  1% {
    font-size: 10px;
  }
  40% {
    font-size: 45px;
  }
  100% {
    font-size: 30px;
  }
}
@keyframes animate {
  1% {
    color: #6b6b6e;
  }
  100% {
    font-size: 100px;
    color: #fbfbfd;
  }
}
#box2 {
  /*background: linear-gradient(45deg, rgba(14,12,12,1) 55%, #323233) 30%;*/
  background-color: #111111;
  display: flex;
  align-items: center;
  flex-direction: flex-start;
}
.animate {
  animation-timing-function: linear;
  animation: animate 1.5s linear;
  transition: ease-in-out;
  overflow: hidden;
  font-size: 100px;
}
.anime2 {
  transition: ease-in-out;
  overflow: hidden;
  animation: anime2 1.5s linear;
  font-size: 30px;
}
.box {
  width: fit-content;
  top: 30%;
}

.service-icon {
  background-color: #333333;
  color: #fce606;
  height: 7rem;
  width: 7rem;
  display: block;
  -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
  text-align: center !important;
  font-size: 2.25rem;
}
.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 2 !important;
  background-color: #fce606;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
  font-size: 30px;
  color: #333333;
}
.content-section {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}
.footer {
  background-color: #1d809f;
}
.midlle {
  background-color: #f8f9fa;
}
p {
  margin: 0;
  font-size: 15;
}
.marg {
  margin-top: 40px;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
a > i {
  line-height: 2 !important;
}
@media screen and (max-width: 352px) {
  .size {
    word-wrap: break-word !important;
  }
  .size2 {
    word-wrap: break-word !important;
  }
}

@media screen and (min-width: 1000px) {
  .padding-xl {
    padding-left: 250px !important;
    padding-right: 250px;
  }
}
@media screen and (max-width: 1000px) {
  .padding-xl {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 751px) {
  @keyframes anime2 {
    1% {
      font-size: 10px;
    }
    40% {
      font-size: 30px;
    }
    100% {
      font-size: 15px;
    }
  }
  @keyframes animate {
    1% {
      color: #6b6b6e;
    }
    100% {
      font-size: 50px;
      color: #fbfbfd;
    }
  }
  .box {
    top: 15%;
  }
  .animate {
    animation-timing-function: linear;
    animation: animate 1.5s linear;
    transition: ease-in-out;
    overflow: hidden;
    font-size: 50px;
  }
  .anime2 {
    transition: ease-in-out;
    overflow: hidden;
    animation: anime2 1.5s linear;
    font-size: 10px;
  }
  .size {
    font-size: 10px;
  }
  .size2 {
    font-size: 20px;
  }
}

:root {
  --prim: #fce606 !important;
  --black: #111111 !important;
  --tres: #333333 !important;
}
.prim {
  background-color: var(--prim);
}
.prim22 {
  background-color: var(--black);
  color: white;
}
.scroll {
  position: fixed;
  right: 22px;
  bottom: 10px;
}
img {
  height: 400px;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
.backcol {
  background-color: var(--black);
}
.slika {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
.pace {
  text-align: center;
}
.resume {
  z-index: 0;
  position: fixed;
  right: 0px;
  bottom: 90px;
  transform: rotate(-270deg);
}
@media screen and (max-width: 404px) {
  .resume {
    position: fixed;
    right: -22px;
    bottom: 75px;
    transform: rotate(-270deg);
    color: #111111;
    text-decoration: none;
  }
  .scroll {
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
}
.boxyellow {
  margin: 10px;
  padding: 10px;
}
